@import "tailwindcss";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ArialRoundedMT';
    src: url('@/assets/fonts/ArialRoundedMTBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('@/assets/fonts/OpenSansRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('@/assets/fonts/OpenSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

. {
    font-family: "OpenSans";
    font-weight: 400;
}

#root {
    font-family: "OpenSans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #262626;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: "ArialRoundedMT";
}

h5, h6 {
    font-family: "OpenSans";
    font-weight: 600;
}

button {
    font-family: "ArialRoundedMT";
    font-weight: 600;
    font-size: 16px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    font-weight: 800;
    color: #5AC7E1;
    text-decoration: inherit;
}
a:hover {
    color: #5AC7E1;
}

body {
    background-color: #F1F1F1;
    margin: 0;
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
}

label {
    font-family: "OpenSans";
    font-weight: 600;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

